@import url('reset.css');

body{
	font: 16px 'PT Sans', Verdana, Arial, sans-serif;	
}

strong{
	font-weight: bold;
}

#head{
	width: 900px;
	height: 125px;
	margin: 0 auto;
	position: relative;
	margin-top: 10px;
	margin-bottom: 30px;
	border-bottom: 1px dotted #000;	
}

#person{
	position: absolute;
	top: 0;
	left: 0;
}

#controls{
	position: absolute;
	top: 0;
	right: 0;
}

#controls a{
	text-decoration: none;
}

#controls a:hover{
	text-decoration: underline;
}

#content{	
	padding: 10px;
}

.mark{	
	color: green;
}

#up{
	width: 78px;
	height: 120px;
	position: fixed;
	bottom: 0;
	right: 0;
	background-image: url('/img/up.png');
	transition:right 1s;
}

#up:hover{	
	right: 5px;
}

#up a{
	display: block;
	width: 78px;
	height: 120px;	
}

/* Табличные данные с парсера csv*/
#table{
	border-collapse: collapse;
}

#table tr td{
	border: 3px solid #fff;
	padding: 5px;
}

td{
	vertical-align: middle;
}

.tableHead{
	color: #000000 !important;
    text-align: center;
    font-weight: bold;
}

.content{
    position:relative; 
    margin:20px auto; 
    width:100%;
    overflow:auto;    
    -webkit-box-sizing:border-box; 
    -moz-box-sizing:border-box; 
    box-sizing:border-box;
}

#ico{
	padding-right: 20px;
	background: url('/img/csv.png') no-repeat center right;
}

textarea{
	resize: vertical;
	max-height: 250px;
}

select{
	width: 150px;	
}

input[type='text'], input[type='password']{
	width: 150px;		
	-webkit-transition:width 500ms;
	transition:width 500ms;
}

input[type='text']:hover, input[type='password']:hover{
	width: 180px;	
}

form{
	float: left;
	margin: 5px;
}