@import url('reset.css');

body{
	font: 16px 'PT Sans', Verdana, Arial, sans-serif;
	min-width: 800px;	
	background: #FFFFFF;
	background: -moz-linear-gradient(top,  #7bb4e5 0%, #ffffff 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7bb4e5), color-stop(100%,#ffffff));
	background: -webkit-linear-gradient(top,  #7bb4e5 0%,#ffffff 100%);
	background: -o-linear-gradient(top,  #7bb4e5 0%,#ffffff 100%);
	background: -ms-linear-gradient(top,  #7bb4e5 0%,#ffffff 100%);
	background: linear-gradient(to bottom,  #7bb4e5 0%,#ffffff 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7bb4e5', endColorstr='#ffffff',GradientType=0 );
	background-size: 100% 100px;
	background-repeat: no-repeat;
}

h1{
	font-size: 24px;
}

h2{
	font-size: 19px;
}

h3{
	font-size: 18px;
}

strong{
	font-weight: bold;
}

#head{
	width: 900px;
	height: 135px;
	margin: 0 auto;
	position: relative;
	margin-top: 10px;
	margin-bottom: 30px;
	border-bottom: 1px dotted #000;	
}

#person{
	position: absolute;
	top: 0;
	left: 0;
}

#controls{
	position: absolute;
	top: 0;
	right: 0;	
}

a:link, a:visited{
	text-decoration: none;
	color: #005D99;
}

a:hover{
	text-decoration: underline;
}

#personal a:link, #personal a:visited{
	text-decoration: none;
	color: #000000;
}

#personal a:hover{
	text-decoration: underline;
}

#content{	
	width: 1000px;
	margin: 0 auto;
	padding: 10px;	
}

.mark{	
	color: green;
}

.errors, .errors > li{
	color: red;
	display: none;
}

#up{
	width: 78px;
	height: 120px;
	position: fixed;
	bottom: 0;
	right: 0;
	background-image: url('/img/up.png');
	transition:right 1s;
}

#up:hover{	
	right: 5px;
}

#up a{
	display: block;
	width: 78px;
	height: 120px;	
}

/* Табличные данные с парсера csv*/
#table{
	border-collapse: collapse;
}

#table tr td{
	border: 3px solid #fff;
	padding: 5px;
}

td{
	vertical-align: middle;
}

.tableHead{
	color: #000000 !important;
    text-align: center;
    font-weight: bold;	
	background: -moz-repeating-linear-gradient(top left -45deg, white, white 20px, #BCD6F6 20px, #BCD6F6 35px);
	background: -ms-repeating-linear-gradient(top left -45deg, white, white 20px, #BCD6F6 20px, #BCD6F6 35px);
	background: repeating-linear-gradient(-45deg, white, white 20px, #BCD6F6 20px, #BCD6F6 35px);
}

.content{
    position:relative; 
    margin:20px auto; 
    width:100%;
    overflow:auto;    
    -webkit-box-sizing:border-box; 
    -moz-box-sizing:border-box; 
    box-sizing:border-box;
}

#ico{
	padding-right: 20px;
	background: url('/img/csv.png') no-repeat center right;
}

textarea{
	resize: vertical;
	max-height: 250px;
}

select{
	width: 150px;	
}

input[type='text'], input[type='password']{
	width: 330px;		
	-webkit-transition:width 500ms;
	transition:width 500ms;
}

input[type='text']:hover, input[type='password']:hover{
	width: 340px;	
}

form{
	float: left;
	margin: 5px;
}

/*Таблица информации*/
.info{
	margin: 20px;
}

.info td{
	padding-right: 40px;
}

/*Кнопки-картинки*/
.look, .schedule, .edit, .cut, .payment{
	width: 32px;
	height: 32px;
	display: block;
	cursor: pointer;
}

.look{
	background: url('/img/buttons/look.png');
}

.schedule{
	background: url('/img/buttons/schedule.png');
}

.edit{
	background: url('/img/buttons/edit.png');
}

.cut{
	background: url('/img/buttons/cut.png');
}

.payment{
	background: url('/img/buttons/payment.png');
}

.hidden{
	display: none;
}

::selection{
	color: #ff0;
	background: #858585;
}

/* Сортировка таблицы */
.disnone, #num_res{display:none;}
.disnone_child .disnone_if {display:none;}
.sortable tbody tr{	
	transition: background 700ms;
}
.sortable tbody tr:hover, .sortable tbody tr.hover {
	background:#BBDAFF;
}

.str{
	border: 1px dotted #F0F0F0;
	transition: border 2s;
}

.str:focus{
	outline: none;
	border: 1px solid #00BFFF;
}

.str::-webkit-input-placeholder{
	text-align: center;
}

/* Анимация логотипа */
#logo{
	position: absolute;
	top: 0;
	left: 0;
	padding: 15px;
	-webkit-transform: rotate(-25deg);
	-moz-transform: rotate(-25deg);
	-o-transform: rotate(-25deg);
	-ms-transform: rotate(-25deg);
	transform: rotate(-25deg);
}

#logo h1{
	font: 30px 'Flavors', cursive;
	display: inline-block;
	color: #00629A;	
}

#logo h1.big{
	font-size: 46px;
}

@media all and (max-width: 1200px){
	#logo{
		display: none;
	}
}

.animated {
	animation-fill-mode: both;
	transform: translate3d(0, 0, 0);
	perspective: 1000;

	-o-animation-fill-mode: both;
	-o-transform: translate3d(0, 0, 0);
	-o-perspective: 1000;

	-moz-animation-fill-mode: both;
	-moz-transform: translate3d(0, 0, 0);
	-moz-perspective: 1000;

	-webkit-animation-fill-mode: both;
	-webkit-transform: translate3d(0, 0, 0);
	-webkit-perspective: 1000;
}

@-webkit-keyframes fadeIn {
	0% {opacity: 0;}	
	100% {opacity: 1;}
}

@-moz-keyframes fadeIn {
	0% {opacity: 0;}	
	100% {opacity: 1;}
}

@-o-keyframes fadeIn {
	0% {opacity: 0;}	
	100% {opacity: 1;}
}

@keyframes fadeIn {
	0% {opacity: 0;}	
	100% {opacity: 1;}
}

.fadeIn {
	-webkit-animation-name: fadeIn;
	-moz-animation-name: fadeIn;
	-o-animation-name: fadeIn;
	animation-name: fadeIn;
}
@-webkit-keyframes fadeInUp {
	0% {
		opacity: 0;
		-webkit-transform: translateY(20px);
	}
	
	100% {
		opacity: 1;
		-webkit-transform: translateY(0);
	}
}

@-moz-keyframes fadeInUp {
	0% {
		opacity: 0;
		-moz-transform: translateY(20px);
	}
	
	100% {
		opacity: 1;
		-moz-transform: translateY(0);
	}
}

@-o-keyframes fadeInUp {
	0% {
		opacity: 0;
		-o-transform: translateY(20px);
	}
	
	100% {
		opacity: 1;
		-o-transform: translateY(0);
	}
}

@keyframes fadeInUp {
	0% {
		opacity: 0;
		transform: translateY(20px);
	}
	
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

.fadeInUp {
	-webkit-animation-name: fadeInUp;
	-moz-animation-name: fadeInUp;
	-o-animation-name: fadeInUp;
	animation-name: fadeInUp;
}
@-webkit-keyframes fadeInDown {
	0% {
		opacity: 0;
		-webkit-transform: translateY(-20px);
	}
	
	100% {
		opacity: 1;
		-webkit-transform: translateY(0);
	}
}

@-moz-keyframes fadeInDown {
	0% {
		opacity: 0;
		-moz-transform: translateY(-20px);
	}
	
	100% {
		opacity: 1;
		-moz-transform: translateY(0);
	}
}

@-o-keyframes fadeInDown {
	0% {
		opacity: 0;
		-o-transform: translateY(-20px);
	}
	
	100% {
		opacity: 1;
		-o-transform: translateY(0);
	}
}

@keyframes fadeInDown {
	0% {
		opacity: 0;
		transform: translateY(-20px);
	}
	
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

.fadeInDown {
	-webkit-animation-name: fadeInDown;
	-moz-animation-name: fadeInDown;
	-o-animation-name: fadeInDown;
	animation-name: fadeInDown;
}
@-webkit-keyframes fadeInLeft {
	0% {
		opacity: 0;
		-webkit-transform: translateX(-20px);
	}
	
	100% {
		opacity: 1;
		-webkit-transform: translateX(0);
	}
}

@-moz-keyframes fadeInLeft {
	0% {
		opacity: 0;
		-moz-transform: translateX(-20px);
	}
	
	100% {
		opacity: 1;
		-moz-transform: translateX(0);
	}
}

@-o-keyframes fadeInLeft {
	0% {
		opacity: 0;
		-o-transform: translateX(-20px);
	}
	
	100% {
		opacity: 1;
		-o-transform: translateX(0);
	}
}

@keyframes fadeInLeft {
	0% {
		opacity: 0;
		transform: translateX(-20px);
	}
	
	100% {
		opacity: 1;
		transform: translateX(0);
	}
}

.fadeInLeft {
	-webkit-animation-name: fadeInLeft;
	-moz-animation-name: fadeInLeft;
	-o-animation-name: fadeInLeft;
	animation-name: fadeInLeft;
}
@-webkit-keyframes fadeInRight {
	0% {
		opacity: 0;
		-webkit-transform: translateX(20px);
	}
	
	100% {
		opacity: 1;
		-webkit-transform: translateX(0);
	}
}

@-moz-keyframes fadeInRight {
	0% {
		opacity: 0;
		-moz-transform: translateX(20px);
	}
	
	100% {
		opacity: 1;
		-moz-transform: translateX(0);
	}
}

@-o-keyframes fadeInRight {
	0% {
		opacity: 0;
		-o-transform: translateX(20px);
	}
	
	100% {
		opacity: 1;
		-o-transform: translateX(0);
	}
}

@keyframes fadeInRight {
	0% {
		opacity: 0;
		transform: translateX(20px);
	}
	
	100% {
		opacity: 1;
		transform: translateX(0);
	}
}

.fadeInRight {
	-webkit-animation-name: fadeInRight;
	-moz-animation-name: fadeInRight;
	-o-animation-name: fadeInRight;
	animation-name: fadeInRight;
}
@-webkit-keyframes fadeInUpBig {
	0% {
		opacity: 0;
		-webkit-transform: translateY(2000px);
	}
	
	100% {
		opacity: 1;
		-webkit-transform: translateY(0);
	}
}

@-moz-keyframes fadeInUpBig {
	0% {
		opacity: 0;
		-moz-transform: translateY(2000px);
	}
	
	100% {
		opacity: 1;
		-moz-transform: translateY(0);
	}
}

@-o-keyframes fadeInUpBig {
	0% {
		opacity: 0;
		-o-transform: translateY(2000px);
	}
	
	100% {
		opacity: 1;
		-o-transform: translateY(0);
	}
}

@keyframes fadeInUpBig {
	0% {
		opacity: 0;
		transform: translateY(2000px);
	}
	
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

.fadeOut {
	-webkit-animation-name: fadeOut;
	-moz-animation-name: fadeOut;
	-o-animation-name: fadeOut;
	animation-name: fadeOut;
}
@-webkit-keyframes fadeOutUp {
	0% {
		opacity: 1;
		-webkit-transform: translateY(0);
	}
	
	100% {
		opacity: 0;
		-webkit-transform: translateY(-20px);
	}
}
@-moz-keyframes fadeOutUp {
	0% {
		opacity: 1;
		-moz-transform: translateY(0);
	}
	
	100% {
		opacity: 0;
		-moz-transform: translateY(-20px);
	}
}
@-o-keyframes fadeOutUp {
	0% {
		opacity: 1;
		-o-transform: translateY(0);
	}
	
	100% {
		opacity: 0;
		-o-transform: translateY(-20px);
	}
}
@keyframes fadeOutUp {
	0% {
		opacity: 1;
		transform: translateY(0);
	}
	
	100% {
		opacity: 0;
		transform: translateY(-20px);
	}
}

.fadeOutUp {
	-webkit-animation-name: fadeOutUp;
	-moz-animation-name: fadeOutUp;
	-o-animation-name: fadeOutUp;
	animation-name: fadeOutUp;
}
@-webkit-keyframes fadeOutDown {
	0% {
		opacity: 1;
		-webkit-transform: translateY(0);
	}
	
	100% {
		opacity: 0;
		-webkit-transform: translateY(20px);
	}
}

@-moz-keyframes fadeOutDown {
	0% {
		opacity: 1;
		-moz-transform: translateY(0);
	}
	
	100% {
		opacity: 0;
		-moz-transform: translateY(20px);
	}
}

@-o-keyframes fadeOutDown {
	0% {
		opacity: 1;
		-o-transform: translateY(0);
	}
	
	100% {
		opacity: 0;
		-o-transform: translateY(20px);
	}
}

@keyframes fadeOutDown {
	0% {
		opacity: 1;
		transform: translateY(0);
	}
	
	100% {
		opacity: 0;
		transform: translateY(20px);
	}
}

.fadeOutDown {
	-webkit-animation-name: fadeOutDown;
	-moz-animation-name: fadeOutDown;
	-o-animation-name: fadeOutDown;
	animation-name: fadeOutDown;
}
@-webkit-keyframes fadeOutLeft {
	0% {
		opacity: 1;
		-webkit-transform: translateX(0);
	}
	
	100% {
		opacity: 0;
		-webkit-transform: translateX(-20px);
	}
}

@-moz-keyframes fadeOutLeft {
	0% {
		opacity: 1;
		-moz-transform: translateX(0);
	}
	
	100% {
		opacity: 0;
		-moz-transform: translateX(-20px);
	}
}

@-o-keyframes fadeOutLeft {
	0% {
		opacity: 1;
		-o-transform: translateX(0);
	}
	
	100% {
		opacity: 0;
		-o-transform: translateX(-20px);
	}
}

@keyframes fadeOutLeft {
	0% {
		opacity: 1;
		transform: translateX(0);
	}
	
	100% {
		opacity: 0;
		transform: translateX(-20px);
	}
}

.fadeOutLeft {
	-webkit-animation-name: fadeOutLeft;
	-moz-animation-name: fadeOutLeft;
	-o-animation-name: fadeOutLeft;
	animation-name: fadeOutLeft;
}
@-webkit-keyframes fadeOutRight {
	0% {
		opacity: 1;
		-webkit-transform: translateX(0);
	}
	
	100% {
		opacity: 0;
		-webkit-transform: translateX(20px);
	}
}

@-moz-keyframes fadeOutRight {
	0% {
		opacity: 1;
		-moz-transform: translateX(0);
	}
	
	100% {
		opacity: 0;
		-moz-transform: translateX(20px);
	}
}

@-o-keyframes fadeOutRight {
	0% {
		opacity: 1;
		-o-transform: translateX(0);
	}
	
	100% {
		opacity: 0;
		-o-transform: translateX(20px);
	}
}

@keyframes fadeOutRight {
	0% {
		opacity: 1;
		transform: translateX(0);
	}
	
	100% {
		opacity: 0;
		transform: translateX(20px);
	}
}

.fadeOutRight {
	-webkit-animation-name: fadeOutRight;
	-moz-animation-name: fadeOutRight;
	-o-animation-name: fadeOutRight;
	animation-name: fadeOutRight;
}
@-webkit-keyframes fadeOutUpBig {
	0% {
		opacity: 1;
		-webkit-transform: translateY(0);
	}
	
	100% {
		opacity: 0;
		-webkit-transform: translateY(-2000px);
	}
}

@-moz-keyframes fadeOutUpBig {
	0% {
		opacity: 1;
		-moz-transform: translateY(0);
	}
	
	100% {
		opacity: 0;
		-moz-transform: translateY(-2000px);
	}
}

@-o-keyframes fadeOutUpBig {
	0% {
		opacity: 1;
		-o-transform: translateY(0);
	}
	
	100% {
		opacity: 0;
		-o-transform: translateY(-2000px);
	}
}

@keyframes fadeOutUpBig {
	0% {
		opacity: 1;
		transform: translateY(0);
	}
	
	100% {
		opacity: 0;
		transform: translateY(-2000px);
	}
}

#ui-datepicker-div{
	font-size: .9em;
}

/* Псевдоссылка */
.fakeL{
	color: #005D99;	
}

.fakeL:hover{
	color: #005D99;
	cursor: pointer;
	text-decoration: underline;
}

/* Div для всплывающего фото */
#showImgDiv{
	position: absolute; 
	display: none;
}

#showImgDiv img{
	width: 150px;
	height: 150px;
	border: 1px solid rgba(0, 189, 255, 0.5);
}

/* Отметка строк, где есть фото */
.eye{
	padding-left: 15px;
	background: url('/img/eye.png') no-repeat center left;
	cursor: default;
}

/*Кнопки как ссылки*/
form input.butAsL{
	background: none !important;
	padding: 0 !important;
	margin: 0 !important;
	color: black !important;
	border: none !important;
	text-shadow: none !important;
	box-shadow: none !important;
	font: 16px 'PT Sans', Verdana, Arial, sans-serif;	
}